/* *{
  overflow: hidden;
} */
.forgot-password-container {
  width: 23vw;
  margin-top: 30vh;
  margin-left: 5vw;
  backface-visibility: hidden;
  /* margin: 0 auto; */
  padding: 20px;
  color: black;
  border-radius: 8px;
  box-shadow: 5px 4px 15px rgba(0, 0, 0, 0.2);
  height: fit-content;
  text-align: center;
  }
  
  .forgot-password-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: black;
    font-size: 2em;
  }
 
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .forgot-btn {
    width: 100%;
    padding: 10px;
    background-color: #CC6164;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .forgot-btn:hover {
    background-color: #007FFF;
  }
  .cont{
    display: flex;
  }

  @media (max-width: 840px) {
    .forgot-password-container {
      width: 90%; /* Adjust to fit smaller screens */
      font-size: 2em;
      margin-left: auto; /* Center align horizontally */
      margin-right: auto;
      margin-top: -10vh;
      padding: 15px; /* Adjust padding for smaller devices */
      box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for smaller screens */
    }
   .haed{
    display: flex;
   }
    .forgot-password-container h2 {
      font-size: 1.5em; /* Reduce font size for better readability */
    }
  
    label {
      font-size: 1.3em; /* Adjust label size */
    }
    
    .forgot-img{
      scale: 1;
    }
    input {
      width: 97%; /* Ensure input spans full width of container */
      padding: 18px 8px 18px 8px; /* Adjust padding for smaller screen sizes */
      font-size: 0.6em;
    }
  
    .forgot-btn {
      font-size: 0.8em; /* Reduce button text size */
      padding: 14px;
    }
  
    .cont {
      flex-direction: column; /* Stack items vertically for smaller screens */
      align-items: center; /* Center align content */
      gap: 0vh; /* Add spacing between stacked items */
    }
  }
  